 <div class="container-fluid mt-5 contact-style">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow Uour Business With Us</p>
            <div class="row">
              <div class="col-md-6 col-12 hero-text order-md-0 order-1" >
                <figure>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYeuiu9DgGM085Mjzp6Jyd_SyPJp3_lbjgPg&s" alt="herosection-img">
                  </figure>
              </div>
              {{!-- right-side --}}
              <div class="col-md-6 col-12 hero-text  justify-content-center align-item-center flex-column" >
                   <h1>WE WILL HELP YOU TO</h1>
                   <h1>GROW YOUR BUSINESS</h1>
                   <p>We Are The Team Of | <span class="bold-style">Professional Developer </span></p>
                   <button class="btn-style btn-primary ">Read</button>
              </div>
            </div>
          </div>
        </div>
      </div>